.bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #344648;
    color: #cdcdcd;
    margin: 0;
    padding: 40px;
}

.search-field {
    padding: 10px;
    width: 12rem;
    font-size: 16px;
}